---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <h1 class="text-3xl font-bold mb-4">About Me</h1>
  <p>
    I’m a self-taught developer with 10+ years of experience, passionate about
    design, product, and code!
  </p>
</BaseLayout>
