---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact">
  <h1 class="text-3xl font-bold mb-4">Get in Touch</h1>
  <p>
    You can reach me at <a
      href="mailto:himanshu@example.com"
      class="text-blue-500 underline">himanshu@example.com</a
    >
  </p>
</BaseLayout>
